@media screen and (max-width: 1200px) {
  .container-left {
    flex-basis: 20%;
  }
  .container-right {
    flex-basis: 80%;
  }
  .nav {
    width: 20%;
  }

  .list-main button {
    font-size: 12px;
  }

  .courses-padcast {
    display: flex;
    flex-direction: column;
  }

  .footer-middle__text {
    font-size: 12px;
  }

  .footer-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .container-left {
    display: flex;
    width: 250px;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 2;
    transition: 500ms ease-in;
  }
  .container-right {
    flex-basis: 100%;
    z-index: 1;
  }
  .nav {
    width: 250px;
  }
  .menu-bar {
    display: flex;
  }

  .show-content__menu {
    transition: 500ms ease-in;
    left: -250px;
  }

  .top-padcast__title {
    text-align: center;
  }

  .top-padcast-btns {
    width: 100%;
  }

  .padcast-category__right {
    margin-top: 20px;
  }

  .world-category__countries {
    margin-top: 30px;
    width: 80%;
  }

  .world-category__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .title-text {
    font-size: 25px;
    font-weight: bold;
    font-family: gill;
  }
  .title-des {
    font-size: 15px;
    font-family: sanlight;
    margin-left: 20px;
  }

  .padcast-category__right-title,
  .padcast-category__left-title {
    font-size: 25px;
  }

  .world-category__title {
    font-size: 30px;
  }

  .world-category__countries {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 500px) {
  .title-text {
    font-size: 15px;
    font-weight: bold;
    font-family: gill;
  }

  .btn-lists{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-list{
    font-size: 12px;
  }
  .title-des {
    font-size: 14px;
    font-family: sanlight;
    margin-left: 20px;
  }

  .top-padcast__title {
    font-size: 30px;
  }

  .world-category__title {
    font-size: 20px;
  }
}
